name: CI

# When the workflow will run
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Run a simple script
      - name: Run a one-line script
        run: echo "Hello, world!"

      # Step 3: Run a multi-line script
      - name: Run multi-line script
        run: |
          echo "This is a multi-line script"
          echo "Add other actions to build,"
          echo "test, and deploy your project."
